
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.home {
    color: #000000;
    text-align: center;
    padding: 20px;
}

.logo img {
    max-width: 200px;
    height: auto;
}

h1 {
    font-size: 35px;
    font-weight:normal
}

p {
    font-size: 14px;
    color: #000000;
}

.product-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

